.nav {
    background: url('../image/bg/nav_bg.png');
    background-size: 500px;
    width: 100vw;
    height: 100vh;
    transition: 0.2s;
}

.nav_opacity {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav_opacity .container {
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_logo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    transition: 0.1s;
}

.nav_header {
    font-size: 40px;
    margin-bottom: 0;
    text-transform: lowercase;
}

.nav_desc {
    font-size: 16px;
    transform: translateY(-10px);
    margin-left: 64px;
    letter-spacing: 1.5px;
}

.nav_ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.nav_li {
    width: 120px;
    height: 44px;
    border: 1px #fff solid;
    background-color: #00000000;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: 0.2s;
}

.nav_li:hover {
    border: none;
    color: #000;
    background-color: #f3e000;
    box-shadow: 2px 2px 7px 0px #75bbfd;
    transition: 0.2s;
    animation: ease-out infinite 3s boxShadow;
}

@keyframes boxShadow {
    0% {
        box-shadow: 2px 2px 7px 0px #75bbfd;
    }

    50% {
        box-shadow: 1px 1px 2px 0px #75bbfd;
    }

    100% {
        box-shadow: 2px 2px 7px 0px #75bbfd;
    }
}